.postList {
  padding: 20px;
}

h1.postList_title {
  margin-bottom: 16px;
  text-align: center;
  font-family: "Jetbrains Mono";
}

@media (max-width: 768px) {
  .postList {
    padding: 16px 8px;
  }
  
  h1.postList_title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}